<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="PhotoShelter">
        <meta name="description" content="Tech posts and projects from PhotoShelter Engineering">
        <meta name="viewport" content="width=840">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <script>var _gaq=[['_setAccount','{{ site.analytics }}'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)})(document,'script')</script>
    </head>
    <body>
        <div id="brand">
            <div class="div-center">
                <div class="div-belt">
                    <a href="http://www.photoshelter.com/"><div class="logo"></div></a>
                </div>
            </div>
        </div>
        <div id="header">
            <div class="div-center">
                <div class="div-belt clearfix">
                    <div class="title"><a href="/">engineering.photoshelter.com</a></div>
                    <ul class="clearfix">
                        <li><a href="http://www.photoshelter.com/about/index/index">About</a></li>
                        <li><a href="https://github.com/photoshelter">Code</a></li>
                        <li><a href="http://www.photoshelter.com/about/index/jobs">Jobs</a></li>
                        <li><a href="http://www.photoshelter.com/about/index/team">Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="div-center">
                <div class="div-belt">
                    {{ content }}
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="div-center">
                <div class="div-belt">
                    <ul class="clearfix">
                        <li class="copy"><div>Copyright &copy; 2013 <a href="http://www.photoshelter.com/">PhotoShelter, Inc.</a></div></li>
                        <li class="made"><div>Made in <a href="http://en.wikipedia.org/wiki/Union_Square_(New_York_City)">Union Square</a>, <a href="http://en.wikipedia.org/wiki/New_York_City">New York, NY</a>.</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
